Source: ukui-greeter
Section: x11
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>,
           yanghao <yanghao@kylinos.cn>
Build-Depends: debhelper (>=11),
               pkg-config,
               qtbase5-dev,
               libqt5x11extras5-dev,
               libqt5svg5-dev,
               liblightdm-qt5-3-dev,
               libx11-dev,
               libxtst-dev,
               libxrandr-dev
Standards-Version: 4.2.1
Homepage: https://github.com/ukui/ukui-greeter
Vcs-Git: https://github.com/ukui/ukui-greeter.git
Vcs-Browser: https://github.com/ukui/ukui-greeter

Package: ukui-greeter
Architecture: any
Depends: libqt5widgets5,
         libqt5gui5,
         libqt5core5a,
         libqt5x11extras5,
         libqt5svg5,
         libx11-6,
         libxrandr2,
         liblightdm-qt5-3-0,
         ${shlibs:Depends},
         ${misc:Depends},
Suggests: biometric-auth
Description: Lightdm greeter for UKUI
 A greeter for UKUI desktop environment written by Qt5.
 The greeter supports biometric authentication which is
 provided by biometric-authentication service.
